<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Home</title>
</head>
<body>
    <div id="name">
        <h1>Welcome {{lname}}! You currently have ${{balance}} in your account!</h1>
    </div>
    <container id="dir">
        <form method="POST" id="form">
            <section class="methods">
                <div id="deposit">
                    <label for="deposit">Deposit Amount: </label>
                    <input type="number" name="deposit"step="0.01" min="1">
                </div>
                <div id="withdraw">
                    <label for="withdraw">Withdrawal Amount: </label>
                    <input type="number" name="withdraw"step="0.01" min="1">
                </div>
            </section>
            <div>
                <button type="submit" id="button">Submit</button>
            </div>
        </form>
    </container>
    <div id="change">
        <button><a href="/account-info">Modify Account</a></button>
        <button><a href="/">Delete Account</a></button>   
    </div>
</body>
</html>